
.sale-banner {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f8d849;
  /* min-height: 100vh; */
}

.sale-banner-container {
  display: flex;
  max-width: 90px;
  width: 100%;
  background-color: #f8d849;
}

.sale-banner-image{
  width: 100%;
}


.sale-banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.sale-banner-content {
  flex: 1;
  /* width: 100%; */
  /* padding: 40px; */
  padding-top: 40px;
  /* padding-left: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f8d849;
}

.sale-tag {
  font-size: 60px;
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}

.highlight {
  background: #fff;
  padding: 0 10px;
  display: inline-block;
  transform: rotate(-2deg);
}

.highlight span {
  display: inline-block;
  transform: rotate(2deg); 
}

.sale-text {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
}

.sale-date {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #000;
}

.terms {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
}

.shop-now-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

