.sale-banner {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d849;
  padding: 20px;
  flex-wrap: wrap;
}

.sale-banner-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  background-color: #f8d849;
}

.sale-banner-image{
  width: 50%;
}


.sale-banner-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}


.sale-banner-content {
  font-size: 2.5rem; 
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}

.sale-tag {
  font-size: 60px;
  font-weight: 900;
  color: #000;
  margin-bottom: 20px;
}

.highlight {
  background: #fff;
  padding: 0 10px;
  display: inline-block;
  transform: rotate(-2deg);
}

.highlight span {
  display: inline-block;
  transform: rotate(2deg); 
}

.sale-text {
  font-size: 1.1rem;
  margin-bottom: 10px;
  color: #333;
}

.sale-date {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #000;
}

.terms {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
}

.shop-now-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}