.footer-container {
  margin-top: 50px;
  background-color: #ebd96b;
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-brands {
  display: flex;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
}

.brand-image {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.brand-image:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
